// (Required) Import Bootstrap
@import "./../node_modules/bootstrap/scss/_functions.scss";
@import "./../node_modules/bootstrap/scss/_variables.scss";

@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

$primary-color: #160f29;
$secondary-color: #368f8b;
$tertiary-color: #ffffff;
$quaternary-color: #246a73;
$fiftary-color: #ddbea8;
$sixtary-color: #f3dfc1;
$danger: #ff1500;

$theme-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  danger: $danger,
);

body {
  font-family: "Quicksand", sans-serif;
}

.nav-link {
  cursor: pointer;
}

@import "./../node_modules/bootstrap/scss/bootstrap.scss";
