<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card shadow-lg">
        <div class="cardHeader"></div>
        <div class="row justify-content-center avatar">
          <img alt="Upload your avatar" [src]="avatarUrl" />
          <div class="plusBtn">
            <input
              type="file"
              id="file"
              accept="image/*"
              (change)="onFileSelected($event)"
            />
            <label for="file">
              <fa-icon [icon]="faPlusCircle" class="plusBtnIcon"> </fa-icon>
            </label>
          </div>
        </div>
        <div class="card-heading">
          <h3>Nicolas</h3>
        </div>
        <hr />
        <div class="card-body">
          <form>
            <div class="form-field">
              <div class="row">
                <div class="col-sm-1 col__icon">
                  <fa-icon [icon]="faUser"></fa-icon>
                </div>
                <div class="col-sm-11">
                  <div class="form-field__control">
                    <input
                      type="text"
                      class="form-field__input"
                      placeholder=" "
                    />
                    <label for="email" class="form-field__label"
                      >First Name</label
                    >
                    <div class="form-field__bar"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-field">
              <div class="row">
                <div class="col-sm-1 col__icon">
                  <fa-icon [icon]="faUser"></fa-icon>
                </div>
                <div class="col-sm-11">
                  <div class="form-field__control">
                    <input
                      type="text"
                      class="form-field__input"
                      placeholder=" "
                    />
                    <label for="email" class="form-field__label"
                      >Last Name</label
                    >
                    <div class="form-field__bar"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-field">
              <div class="row">
                <div class="col-sm-1 col__icon">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </div>
                <div class="col-sm-11">
                  <div class="form-field__control">
                    <input
                      type="text"
                      class="form-field__input"
                      placeholder=" "
                    />
                    <label for="email" class="form-field__label">Email</label>
                    <div class="form-field__bar"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-field">
              <div class="row">
                <div class="col-1 col__icon">
                  <fa-icon [icon]="faLock"></fa-icon>
                </div>
                <div class="col-11">
                  <div class="form-field__control">
                    <input
                      type="password"
                      class="form-field__input"
                      placeholder=" "
                    />
                    <label for="email" class="form-field__label"
                      >Password</label
                    >
                    <div class="form-field__bar"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-field">
              <div class="row">
                <div class="col-1 col__icon">
                  <fa-icon [icon]="faLock"></fa-icon>
                </div>
                <div class="col-11">
                  <div class="form-field__control">
                    <input
                      type="password"
                      class="form-field__input"
                      placeholder=" "
                    />
                    <label for="email" class="form-field__label"
                      >Confirm password</label
                    >
                    <div class="form-field__bar"></div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row justify-content-center">
            <button class="btn btn-secondary btn-lg my-3" (click)="onUpdate()">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
